/* Html Document Setting */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(229, 171, 247);
}

/* Transition */

a,
.btn {
  transition: all 300ms ease;
}

/* Desktop Navigation */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: rgb(160, 85, 221);
  text-decoration: none;
  text-decoration-color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(102, 37, 73);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(134, 48, 191);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}
